@charset "utf-8";
/* CSS Document */
.line{
    background-color: rgba(248,153,35,1);
    height: 4px;
    margin-left: 15px;
    margin-bottom: 30px;
}



























